* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-colorN {
    background: rgb(255, 123, 0);
}

.nomReceta{
    max-width: 200px;
}

.imgTabla{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.headerContainer {
    position: relative;
    height: 100vh;
    background-image: url("../src/assets/img/bgHeader.png");
    color: white; 
    padding-top: 25px;
}

.headerInfo{
    width: 50%;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.headerInfo  span{
    color: rgb(255, 123, 0);
}

.headerInfo h2{
    font-size: 99px !important;
    line-height: 90px;
    font-family: "Bebas Neue", sans-serif;
}

.headerInfo p{
    font-size: 24px;
    line-height: 34px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: start;
}

.headerImg{
    overflow: hidden;
}


.headerImg img{
    height: 600px;
    border-radius: 25px 5px 150px 50px;
}

.conocenosInfo h2{
    font-size: 48px;
    font-family: "Oswald", sans-serif;

}

.conocenosInfo p{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.603);
}

.conocenosIMG img{
    border-radius: 5px 200px;
}

.conocenosInfo span{
    color: rgb(255, 123, 0);
}

.cardContainerReceta{
    height: 80vh;
}


.card {
    width: 380px;
    height: fit-content; 
    border: 3px solid black;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 5px 8px 5px 0px rgba(186, 171, 171, 0.75);
    -webkit-box-shadow: 5px 8px 5px 0px rgba(186, 171, 171, 0.75);
    -moz-box-shadow: 5px 8px 5px 0px rgba(186, 171, 171, 0.75);
}


.cardIMG img{
    width: 100%;
    object-fit: fill;
    border-radius: 15px;
}

.cardHeader{
    display: flex;
    flex-direction: column;
}



.cardTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardTitle p{
    margin: 0px;
}

.cardBody p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;

}

.cardFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardButton{
    padding: 4px 16px;
    border-radius: 8px;
    background-color: rgb(255, 123, 0) ;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
}

.separador{
    background-color:rgb(107, 30, 34) ;
}

@media (max-width: 991.98px){
    .headerInfo{
        width: 100%;
        margin: 24px;
    }

    .headerInfo h2{
        font-size: 32px !important;
        line-height: 40px;
        text-align: center;
    }

    .headerInfo p{
        font-size: 24px;
        text-align: center;
    }

    .headerImg{
        display: none;
    }

    .sectionConocenos{
        flex-direction: column;
    }

    .conocenosIMG{
        margin: auto;
    }

    .conocenosIMG img{
        width: 250px;
        height: 250px;
        border-radius: 25px;
    }

    .conocenosInfo h2{
        text-align: center;
    }

    .cardHeader{
        flex-direction: column;
    }
    .cardIMG{
        margin: auto;
    }
    .cardIMG img{
        width: 200px;
        height: 200px;
        
    }

    .sectionRecetas{
        justify-content: center;
    }

    .cardValues{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}